.about {

    .about__container {
        max-width: 770px;
        height: 100%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .about__slider-wrap {
        width: 100%;
        height: 460px;
        margin: 80px 0 60px 0;
        position: relative;

        @include phones() {
            height: 200px;
        }
    }

    .about__slider {
        width: 100%;
        height: 100%;
    }

    .about__img {
        height: 100%;
        width: 100%;
    }

    .img__img {
        width: 100%;
        height: 100%;
    }

    .slider__arrow-right {
        position: absolute;
        right: -40px;
        top: 200px;
        width: 20px;
        height: 40px;
        z-index: 99;

        @include phones() {
            top: 100px;
            right: 0;
        }
    }

    .slider__arrow-left {
        position: absolute;
        left: -40px;
        top: 200px;
        width: 20px;
        height: 40px;
        z-index: 99;

        @include phones() {
            top: 100px;
            left: 0;
        }
    }

    .about__title {
        font-size: 40px;
        font-weight: 700;
    }

    .about__text {
        font-size: 16px;
        font-weight: 400;
        line-height: 26px;
    }

    .about__subtitle {
        font-size: 20px;
        margin: 20px 0;
    }

    .about__list {
        list-style: decimal;
    }

    .about__imgs {
        margin: 20px 0;
    }
    
    .about__video {
        width: 100%;
        height: 460px;
        background-color: #8a3151;

        @include phones() {
            height: 200px;
        }
    }
}