.header {

    .header__container {
        min-height: 70px;
        padding: 20px 0;
        max-width: 1170px;
        margin: 0 auto;
        display: flex;
        justify-content: space-around;
        align-items: center;
        position: relative;

        @include tablets() {
            flex-direction: column;
        }
    }
}

.header__humburger {
    position: absolute;
    display: none;
    font-size: 25px;
    left: 10px;
    color: #8a3151;

    @include tablets() {
        display: initial;
    }
}

.header__nav {

    .nav__list {
        display: flex;
        list-style: none;

        .nav__item {
            margin-right: 25px;

            @include tablets() {
                margin-right: 0;
                margin-bottom: 20px;
            }
        }

        a {
            color: black;
            text-decoration: none;
            transition: .5s;

            &:hover {
                color: #8a3151;
            }
        }

        @include tablets() {
            flex-direction: column;
        }
    }

    @include tablets() {
        display: none;
    }
}

.header__nav--active {
    display: flex;
}

.header__contacts {
    display: flex;
    flex-direction: column;

    .contacts__phone {
        color: #8a3151;
        font-size: 25px;
        transition: .5s;

        &:hover {
            text-decoration: none;
            color: black;
        }
    }

    .contacts__btn {
        border: none;
        border-bottom: #bc8899 5px dotted;
        font-size: 16px;
        background: none;
    }
}

.header__order {
    display: flex;

    .order__img {
        max-width: 15px;
        max-height: 17px;
        margin-right: 5px;
    }

    .order__contact {
        color: black;
        border-bottom: #bc8899 5px dotted; 
        margin-right: 20px;   
        transition: .5s;    
    }

    .order__btn {
        color: #8a3151;
        background: none;
        border: none;
    }

    a:hover {
        text-decoration: none;
        color: #8a3151;
    }
}

.header__modal {
    position: absolute;
    right: 0;
    top: 0;
    background: #ffffff;
    border: 1px solid #fdf0dd;
    z-index: 999;
    display: none;

    .modal__list {
        display: flex;
        flex-direction: column;
        padding: 0;
    }

    .modal__item {
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid #fdf0dd;
        border-radius: 5px;
        overflow: hidden;
        position: relative;
        padding: 20px;

        @include tablets() {
            padding: 0;
            flex-direction: column;
        }
    }

    .modal__img {
        margin-right: 20px;

        @include tablets() {
            margin-right: 5px;
        }
    }

    .modal__text {
        margin-right: 20px;
        
        @include tablets() {
            margin-right: 0px;
        }

        .modal__name {
            font-size: 20px;
            margin: 0;
        }

        .modal__about {
            font-size: 16px;
            margin: 0;
        }
    }

    .modal__number {
        display: flex;
        margin-right: 40px;

        @include tablets() {
            margin-right: 0;
        }

        .modal__btn {
            background-color: #ffeab0;
            opacity: 0.7;
            border: none;
        }

        .modal__count {
            background-color: #ffeab0;
            opacity: 0.7;
        }
    }

    .modal__price {
        font-size: 23px;
        font-weight: 700;
        color: #8a3151;
    }

    .modal__delete {
        transform: rotate(45deg);
        font-size: 23px;
        color: #8a3151;
        background: none;
        border: none;
        position: absolute;
        right: 0;
        top: 0;
    }

    .modal__total {
        display: flex;
        align-items: center;
        justify-content: center;

        .total__text {
            font-size: 23px;
            margin: 0 20px 0 0;
        }

        .total__price {
            color: #8a3151;
        }

        .total__btn {
            color: white;
            background-color: #8a3151;
            height: 52px;
        }
    }
}

.header__modal--active {
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
}