.header {

    .header__container {
        min-height: 70px;
        padding: 20px 0;
        max-width: 1170px;
        margin: 0 auto;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
}

.header__nav {

    .nav__list {
        display: flex;
        list-style: none;

        .nav__item {
            margin-right: 25px;
        }

        a {
            color: black;
            text-decoration: none;
            transition: .5s;

            &:hover {
                color: #8a3151;
            }
        }
    }
}

.header__contacts {
    display: flex;
    flex-direction: column;

    .contacts__phone {
        color: #8a3151;
        font-size: 25px;
        transition: .5s;

        &:hover {
            text-decoration: none;
            color: black;
        }
    }

    .contacts__btn {
        border: none;
        border-bottom: #bc8899 5px dotted;
        font-size: 16px;
        background: none;
    }
}

.header__order {
    display: flex;

    .order__img {
        max-width: 15px;
        max-height: 17px;
        margin-right: 5px;
    }

    .order__contact {
        color: black;
        border-bottom: #bc8899 5px dotted; 
        margin-right: 20px;   
        transition: .5s;    
    }

    .order__btn {
        color: #8a3151;
        background: none;
        border: none;
    }

    a:hover {
        text-decoration: none;
        color: #8a3151;
    }
}