.popular {

    .popular__container {
        max-width: 1170px;
        height: 100%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .popular__title {
        margin-top: 80px;
        margin-bottom: 40px;
        font-size: 40px;
    }
}

.popular__list {
    display: flex;
    align-items: center;
    justify-content: center;

    .popular__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        border: 1px solid #ffcc6f;
        text-align: center;

        .popular__img {
            width: 280px;
            height: 180px;
        }

        .popular__subtitle {
            font-size: 23px;
        }      

        .popular__weight {
            font-weight: 600;
        }

        .popular__type {
            font-weight: 400;
        }

        .popular__text {
            color: #a0a0a0;
            max-width: 170px;
        }

        .popular__price {
            color: #8a3151;
            font-size: 23px;
            font-weight: 700;
        }

        .popular__old-price {
            font-size: 15px;
            color: #a7a7a7;
            font-size: 15px;
        }
    }
}