.popular {

    .popular__container {
        max-width: 1170px;
        height: 100%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;

        @include tablets() {
            padding: 0 20px;
        }
    }

    .popular__title {
        margin-top: 80px;
        margin-bottom: 40px;
        font-size: 40px;
    }
}

.popular__prev {
    background: url('../images/arrow/left.png') center center no-repeat;
    width: 20px;
    height: 40px;
    position: absolute;
    left: -40px;
    top: 350px;

    @include tablets() {
        left: 5px;
    }
}

.popular__next {
    background: url('../images/arrow/right.png') center center no-repeat;
    width: 20px;
    height: 40px;
    position: absolute;
    top: 350px;
    right: -40px;

    @include tablets() {
        right: 5px;
    }
}

.popular__list {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

    @include tablets() {
        width: 300px;
    }

    .popular__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        border: 1px solid #ffcc6f;
        text-align: center;
        margin-right: 10px;

        .popular__img {
            width: 268px;
            height: 180px;
            z-index: 999;
        }

        .popular__subtitle {
            font-size: 23px;
        }      

        .popular__weight {
            font-weight: 600;
        }

        .popular__type {
            font-weight: 400;
        }

        .popular__text {
            color: #a0a0a0;
            max-width: 170px;
        }

        .popular__price {
            color: #8a3151;
            font-size: 23px;
            font-weight: 700;
        }

        .popular__old-price {
            font-size: 15px;
            color: #a7a7a7;
            font-size: 15px;
        }
    }
}