.sale {
    width: 100wv;
    background: url(../../assets/images/bg-last.png) center center no-repeat;
    background-size: cover; 
    min-height: 421px;

    .sale__container {
        max-width: 1170px;
        min-height: 421px;
        height: 100%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

.sale__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #ffe1ab;
    max-width: 600px;
    padding: 40px;
    text-align: center;

    @include tablets() {
        padding: 10px;
    }

    .sale__title {
        max-width: 500px;
        align-items: center;
        font-size: 40px;
        font-weight: 700;

        @include tablets() {
            font-size: 30px;
        }
    }

    .sale__text {
        max-width: 400px;
    }

    .sale__price {
        color: #8a3151;
    }

    .sale__btn {
        background-color: #8a3151;
        height: 52px;
        width: 200px;
        border: none;
        color: white;
    }
}