<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Главная</title>
    <link rel="stylesheet" href="./assets/styles/bootstrap/bootstrap.css">
    <link rel="stylesheet" href="./assets/styles/bootstrap/bootstrap-reboot.css">
    <link rel="stylesheet" href="./assets/styles/bootstrap/bootstrap-grid.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <link rel="stylesheet" href="./assets/styles/main.css">
</head>

<body>
    <div class="wrapper">
        <header class="header">
            <div class="header__container">
                <div class="header__humburger"><i class="icon-menu"></i></div>
                <div class="header__nav">
                    <ul class="nav__list">
                        <li class="nav__item">
                            <a href="#" class="nav__link">О нас</a>
                        </li>
                        <li class="nav__item">
                            <a href="#" class="nav__link">Оплата и доставка</a>
                        </li>
                        <li class="nav__item">
                            <a href="#" class="nav__link">Интересное</a>
                        </li>
                    </ul>
                </div>
                <div class="header__contacts">
                    <a href="#" class="contacts__phone">+7 (351) 250-55-50</a>
                    <button class="contacts__btn">Заказать звонок</button>
                </div>
                <div class="header__order">
                    <img src="./assets/images/icons/vk.png" alt="vk" class="order__img">
                    <a href="#" class="order__contact"> vk.com/dostavkasolnce </a>
                    <button class="order__btn">
                        <img src="./assets/images/icons/bag.png" alt="vk" class="order__img">
                        Ваш заказ |0|
                    </button>
                </div>
            </div>
        </header>
        <section class="section hero--product">
            <div class="hero__uzor"></div>
            <div class="hero__container">
                <div class="header__modal">
                    <ul class="modal__list">
                        <li class="modal__item">
                            <img src="./assets/images/modal.png" alt="" class="modal__img">
                            <div class="modal__text">
                                <p class="modal__name">Мясное ассорти</p>
                                <p class="modal__about">Соус 3х30гр: Красный</p>
                            </div>
                            <div class="modal__number">
                                <button class="modal__btn">-</button>
                                <div class="modal__count">1</div>
                                <button class="modal__btn">+</button>
                            </div>
                            <div class="modal__price">970 руб.</div>
                            <button class="modal__delete">+</button>
                        </li>
                        <li class="modal__item">
                            <img src="./assets/images/modal.png" alt="" class="modal__img">
                            <div class="modal__text">
                                <p class="modal__name">Мясное ассорти</p>
                                <p class="modal__about">Соус 3х30гр: Красный</p>
                            </div>
                            <div class="modal__number">
                                <button class="modal__btn">-</button>
                                <div class="modal__count">1</div>
                                <button class="modal__btn">+</button>
                            </div>
                            <div class="modal__price">970 руб.</div>
                            <button class="modal__delete">+</button>
                        </li>
                    </ul>
                    <div class="modal__total">
                        <p class="total__text">2 товара на сумму: <span class="total__price">1680 руб.</span> </p>
                        <button class="total__btn">Оформить заказ</button>
                    </div>
                </div>
                <img src="./assets/images/logo.png" alt="Солнце" class="hero__logo">
                <div class="catalog__menu--product">
                    <ul class="menu__list">
                        <li class="menu__item">
                            <a href="#" class="menu__link">Шашлыки</a>
                        </li>
                        <li class="menu__item">
                            <a href="#" class="menu__link">Мясо мариновонное</a>
                        </li>
                        <li class="menu__item">
                            <a href="#" class="menu__link">Соусы и лаваш</a>
                        </li>
                        <li class="menu__item">
                            <a href="#" class="menu__link">Горячие блюда</a>
                        </li>
                        <li class="menu__item">
                            <a href="#" class="menu__link">Закуски</a>
                        </li>
                        <li class="menu__item">
                            <a href="#" class="menu__link">Гарниры</a>
                        </li>
                        <li class="menu__item">
                            <a href="#" class="menu__link">Супы</a>
                        </li>
                        <li class="menu__item">
                            <a href="#" class="menu__link">Десерты</a>
                        </li>
                        <li class="menu__item">
                            <a href="#" class="menu__link">Напитки</a>
                        </li>
                        <li class="menu__item">
                            <a href="#" class="menu__link">Салаты</a>
                        </li>
                        <li class="menu__item">
                            <a href="#" class="menu__link">Паста</a>
                        </li>
                        <li class="menu__item">
                            <a href="#" class="menu__link">Рыбные блюда</a>
                        </li>
                        <li class="menu__item">
                            <a href="#" class="menu__link">Выпечка</a>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
        <section class="section product">
            <div class="product__container">
                <div class="product__cd">
                    <div class="cd__imgs">
                        <div class="imgs__large">
                            <img src="./assets/images/product/large.png" alt="" class="large__img">
                        </div>
                        <div class="imgs__small">
                            <img src="./assets/images/product/small.png" alt="" class="small__img">
                            <img src="./assets/images/product/small.png" alt="" class="small__img">
                            <img src="./assets/images/product/small.png" alt="" class="small__img">
                        </div>
                    </div>
                    <div class="cd__content">
                        <h2 class="content__title">Куриное ассорти</h2>
                        <div class="content__type">Вид мяса: Курица (Крылья, грудка, люля-кебаб)</div>
                        <div class="content__weight">Вес порции: 1050 гр.</div>
                        <div class="content__complect">В комплекте: лук маринованный - 100 гр.</div>
                        <div class="content__change">
                            <p class="change__text">Выберите соус</p>
                            <div class="change__souce">
                                <p class="souce__text">Красный</p>
                                <div class="souce__btns">
                                    <button class="btns__btn">-</button>
                                    <p class="btns__number">1</p>
                                    <button class="btns__btn">+</button>
                                </div>
                            </div>
                            <div class="change__souce">
                                <p class="souce__text">Белый</p>
                                <div class="souce__btns">
                                    <button class="btns__btn">-</button>
                                    <p class="btns__number">2</p>
                                    <button class="btns__btn">+</button>
                                </div>
                            </div>
                        </div>
                        <p class="content__price">720 руб</p>
                        <div class="content__number">
                            <div class="number__btns">
                                <button class="btns__btn">-</button>
                                <p class="btns__number">1</p>
                                <button class="btns__btn">+</button>
                            </div>
                            <button class="number__btn">В корзину</button>
                        </div>
                    </div>
                </div>
                <div class="product__about">
                    <h2 class="about__title">Описание</h2>
                    <p>
                        Компания «Мир каминов» предлагает Вам разобраться во всем многообразии  «согревающей» и отопительной продукции: камины и печи,  дымоходы  и сопутствующая им продукция.

                        Для правильной организации пространства интерьера следует обратиться к профессионалам своего дела, rоторые подберут  вариант, подходящий именно для Вас!
                        
                        Камины в Челябинске набирают все большую популярность, причиной тому является стремление создать в своем доме 
                        неповторимый и «уютный»  стиль,  а также  порадовать теплом  друзей и близких, заглянувших в гости.
                        
                        Работа с официальными поставщиками и производителями продукции, и налаженная логистика позволяют нам предоставлять 
                        самые лучшие материалы от ведущих компаний по минимальным ценам.
                        
                        В компании «Мир каминов»  можно не просто купить камин в Челябинске или приобрести другие отопительные  изделия,  
                        Вы  можете полностью доверить нам весь комплекс работ от разработки индивидуального проекта до  монтажа  изделия.
                    </p>
                </div>
            </div>
        </section>
        <section class="section popular--another">
            <div class="popular__container">
                <h2 class="popular__title">Похожие блюда </h2>
                <div class="popular__prev"></div>
                <div class="popular__next"></div>
                <div class="popular__list">
                    <div class="popular__item">
                        <img src="./assets/images/products/1.png" alt="" class="popular__img">
                        <h3 class="popular__subtitle">Ассорти из свинины</h3>
                        <p class="popular__weight">Вес: 1150 г.</p>
                        <p class="popular__type">Шейка, балык, ребро</p>
                        <p class="popular__text">Подаётся с соусом и маринованным луком</p>
                        <p class="popular__price">1590 руб.</p>
                        <p class="popular__old-price">2900 руб.</p>
                    </div>
                    <div class="popular__item">
                        <img src="./assets/images/products/2.png" alt="" class="popular__img">
                        <h3 class="popular__subtitle">Ассорти из свинины</h3>
                        <p class="popular__weight">Вес: 1150 г.</p>
                        <p class="popular__type">Шейка, балык, ребро</p>
                        <p class="popular__text">Подаётся с соусом и маринованным луком</p>
                        <p class="popular__price">1590 руб.</p>
                        <p class="popular__old-price">2900 руб.</p>
                    </div>
                    <div class="popular__item">
                        <img src="./assets/images/products/3.png" alt="" class="popular__img">
                        <h3 class="popular__subtitle">Ассорти из свинины</h3>
                        <p class="popular__weight">Вес: 1150 г.</p>
                        <p class="popular__type">Шейка, балык, ребро</p>
                        <p class="popular__text">Подаётся с соусом и маринованным луком</p>
                        <p class="popular__price">1590 руб.</p>
                        <p class="popular__old-price">2900 руб.</p>
                    </div>
                    <div class="popular__item">
                        <img src="./assets/images/products/4.png" alt="" class="popular__img">
                        <h3 class="popular__subtitle">Ассорти из свинины</h3>
                        <p class="popular__weight">Вес: 1150 г.</p>
                        <p class="popular__type">Шейка, балык, ребро</p>
                        <p class="popular__text">Подаётся с соусом и маринованным луком</p>
                        <p class="popular__price">1590 руб.</p>
                        <p class="popular__old-price">2900 руб.</p>
                    </div>
                    <div class="popular__item">
                            <img src="./assets/images/products/4.png" alt="" class="popular__img">
                            <h3 class="popular__subtitle">Ассорти из свинины</h3>
                            <p class="popular__weight">Вес: 1150 г.</p>
                            <p class="popular__type">Шейка, балык, ребро</p>
                            <p class="popular__text">Подаётся с соусом и маринованным луком</p>
                            <p class="popular__price">1590 руб.</p>
                            <p class="popular__old-price">2900 руб.</p>
                        </div>
                </div>
            </div>
        </section>
        <section class="section sale">
            <div class="sale__container">
                <div class="sale__card">
                    <h2 class="sale__title">Скидка <span class="sale__price"> 10% </span> по промокоду «Свой»</h2>
                    <p class="sale__text">Просто введите кодовое слово при заказе онлайн. Действует с 20 до 31 июня</p>
                    <button class="sale__btn">Заказать</button>
                </div>
            </div>
        </section>
        <section class="section callback">
            <div class="callback__container">
                <img src="./assets/images/icons/mail.png" alt="" class="callback__img">
                <h3 class="callback__title">Подпишитесь на рассылку горячих предложений</h3>
                <form action="" class="callback__form">
                    <input type="text" class="form__inp" placeholder="E-mail">
                    <button class="form__btn" type="submit">Подписаться</button>
                </form>
            </div>
        </section>
        <footer class="footer">
            <div class="footer__uzor"></div>
            <div class="footer__container">
                <div class="footer__vk">
                    <h3 class="vk__title">Наша группа</h3>
                    <a href="#" class="vk__link">vk.com/dostavkasolnce</a>
                </div>
                <div class="footer__menu">
                    <ul class="menu__list">
                        <li class="menu__item"><a href="#" class="menu__link">О нас</a></li>
                        <li class="menu__item"><a href="#" class="menu__link">Оплата и доставка</a></li>
                        <li class="menu__item"><a href="#" class="menu__link">Интересное</a></li>
                        <li class="menu__item"><a href="#" class="menu__link">Каталог</a></li>
                    </ul>
                </div>
                <div class="footer__delivery">
                    <h3 class="delivery__title">Доставка</h3>
                    <a href="#" class="delivery__phone">+7 (351) 250-55-50</a>
                </div>
            </div>
            <div class="footer__copyright">
                <p>© 2018 Доставка еды Солнце - Челябинск</p>
            </div>
        </footer>
    </div>
    <script src="./assets/scripts/slick.min.js"></script>
    <script src="./assets/scripts/main.js"></script>
</body>

</html>